apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{.Namespace}}
commonLabels:
  app.kubernetes.io/managed-by: pod-broker
commonAnnotations:
  app.broker/user: {{.User}}
resources:
  - namespace.yaml
  - network-policy.yaml